<%= form_for @commute do |f| %>
  <% if @commute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commute.errors.count, "error") %> prohibited this @commute from being saved:</h2>

      <ul>
      <% @commute.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :label %>
    <%= f.text_field :label %>
  </div>

  <div class="field">
    <%= f.label :schedule %><br>
    <%= f.schedule_select :schedule %>
  </div>

  <%= f.fields_for :location, Location.new do |location_form| %>

    <div class="field">
        <%= location_form.label :address %>
        <%= location_form.text_field :address %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
